
body {
  background-color: rgb(250, 248, 248);
}
div.semaforo {
  height: 360px;
  width: 200px;
  background-color: rgb(28, 32, 29);
  margin: 0px auto;
  margin-top: 100px;
  border-radius: 10%;
  
  
}
div.rojo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 5px;
    position:absolute;
    border-right: 4px solid rgb(255, 255, 255, 0.6);
    
}
div.amarillo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 20px;
    border-right: 4px solid rgb(255, 255, 255, 0.6);
}
div.verde {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 50px;
    border-right: 4px solid rgb(255, 255, 255, 0.6);
}
div.primero {
    height: 110px;
    
}
.red{
  background-color: #c0392b;
  box-shadow: 0 0 40px 5px #c0392b; 
}
.green{
  background-color: #34df7b;
  box-shadow: 0 0 40px 5px #34df7b; 
}
.yellow{
  background-color: #f3f71b;
  box-shadow: 0 0 40px 5px #f3f71b; 
}
